header{
    text-align: center;
}
.linea{
    border-top: 1px solid #000333;
    padding-top: 10px;
}
.line{
    border-bottom: 1px solid #000333;
    padding-bottom: 10px;
}
.spazio{
    margin-top: 30px;
}
.verde{
    color: #759611;
}
tbody{
    border: 1px solid #000000;
}
