.verde{
    font-family: 'Bree Serif', serif;
    color: #00ff7f;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
}
.rosso{
    font-family: 'Bree Serif', serif;
    color: #ff0000;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
}